/* GENERICS */

:root {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: aquamarine;
    min-height: 70px;
}

footer {
    border-top: 2px solid white;
}


/* HEADER */
header .container {
    background-color: yellow;
    width: 100%;
    max-width: 70%;
    height: 40px;
}

 .header_item > ul {
    list-style: none;
}
.header_item > ul > li {
    display: inline-block;
    margin: 0px 8px;
}

.header_item {
    height: 100%;
    line-height: 40px;
    vertical-align: middle;
    flex-grow: 2;
    text-align: center;
}

nav .header_item {
    flex-grow: 4;
}


/* JUMBOTRON */
.jumbotron {
    min-height: 600px;
    background-color: #1400ae;
    border-bottom: 3px solid #00f8ba;
}

.jumbotron .container {
    background-color: pink;
    min-height: 500px;
    width: 50%;

}


/* SECTIONS */
section .container {
    min-height: 700px;
    max-width: 70%;
    padding: 2em 0;

}

.container .col_1 {
    width: 40%;
    background-color: rgb(255, 114, 201);
}

.container .col_2 {
    width: 60%;
    background-color: rgb(114, 229, 255);
}


/* TALL CONTAINER */
.container_tall {
    min-height: 800px;
    max-width: 70%;
    background-color: green;
}

.section_tall {
    padding: 2em 0;
}

/* MULTI COLUMNS CONTAINER */
.col_big {
    background-color:salmon;
    width: 40%;
}

.col {
    background-color: #0ab17a;
    width: calc(60%/4);
}

/* FOOTER */
footer .container {
    background-color: aquamarine;
    height: 50px;
    width: 70%;
    margin-top: 1em;
}

footer .container button {
    background-color: salmon;
    font-size: 1.5em;
    padding: 10px 24px;
}
